.Search {
  padding-top: 4rem;
}

.card-container {
  padding-top: 1.5rem;
}

.card-title {
  padding-top: 0.5rem;
  padding-left: 1rem;
}

.card-subtitle {
  padding-left: 1rem;
  padding-bottom: 0rem;
}
